#test {
  .test-list {
    padding-bottom: 20px;
  }
  .question-block {
    padding: 10px;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
    .question {
      & b {
        font-size: 22px;
        color: $grey;
      }
    }
    &.error {
      border: 1px solid $ultralight-red;
      .question {
        color: $red;
      }
    }
  }
  .answers {
    padding-bottom: 20px;
    & li {
      position: relative;
      &.good label.question-label {
        background: $ultralight-green;
        color: $green;
      }
      &.bad label.question-label {
        background: $ultralight-red;
        color: $red;
      }
    }
    & label {
      display: block;
      padding: 12px;
      background: rgba(0,0,0,.05); 
      border-bottom: 2px solid #fff;
      padding-left: 40px;
    }
    & input {
      position: absolute;
      width: 20px;
      height: 20px;
      z-index: 10;
      left: 5px;
      top: 50%;
      margin-top: -10px;
    }
    & input:checked + label {
      background: $ultralight-green;
      color: $green; 
    }
  }
  .input {
    &.bad {
      background: $ultralight-red;
      color: $red; 
    }
    &.good {
      background: $ultralight-green;
      color: $green; 
    }
  }
  .output {
    position: fixed;
    border: 2px solid;
    padding: 20px;
    left: 50%;
    top: 50%;
    background: rgba(255,255,255,.7); 
    -webkit-transform: translate(-50%, -50%); 
    -moz-transform: translate(-50%, -50%); 
    -ms-transform: translate(-50%, -50%); 
    -o-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%); 
  }
}