<div class="answer-container">
  <input type="text" class="input answer answer1" required placeholder="Enter your answer here"/>
  <input type="checkbox" class="iscorrect"/>
</div>
<div class="answer-container">
  <input type="text" class="input answer answer2" required placeholder="Enter your answer here"/>
  <input type="checkbox" class="iscorrect"/>
</div>
<div class="answer-container">
  <input type="text" class="input answer answer3" required placeholder="Enter your answer here"/>
  <input type="checkbox" class="iscorrect"/>
</div>
<div class="answer-container">
  <input type="text" class="input answer answer4" required placeholder="Enter your answer here"/>
  <input type="checkbox" class="iscorrect"/>
</div>