<form action="" class="question-form">
  <p>Question:</p>
  <input type="text" class="question-text" name="question-type" value="" />
  <p>Type:</p>
  <input type="radio" class="question-type" name="question-type" value="radio" id="radio" checked />
  <label for="radio">Single</label>
  <input type="radio" class="question-type" name="question-type" value="checkbox" id="checkbox" />
  <label for="checkbox">Multiple</label>
  <input type="radio" class="question-type" name="question-type" value="text" id="text" />
  <label for="text">Text</label>
  <p>Answers</p>
  <div class="answers-block"></div>
</form>