<div id="admin-page">
  <h2>Questions:</h2>
  <div class="questions-list">
    {{#each tests}}
      <div class="question-block question-block{{@index}} hvr-sweep-to-right">
        <div class="question-block__left">
          <p class="question-text">{{question}}</p>
        </div>
        <div class="question-block__right">
          <button class="btn btn-update" data-question="{{id}}">Update</button>
          <button class="btn btn-delete" data-question="{{id}}">Delete</button>
        </div>
      </div>
    {{/each}}

    <button id="newquestion-btn" class="btn newquestion-btn">+</button>

    <div id="question-form_block" class="question-form_block"></div>
  </div>
</div>