<div id="about-page">
  <h2>Let's start!</h2>
  <ul>
    {{#each questions}}
      <h3 class="question">{{question}}</h3>
      <ul class="answers">
        {{#if single}}
          {{#each single}}
            <li><input type="radio" value="{{text}}" >{{text}}</li>
          {{/each}}
        {{/if}}

        {{#if multiple}}
          {{#each multiple}}
            <li><input type="checkbox" value="{{text}}">{{text}}</li>
          {{/each}}
        {{/if}}
      </ul>
    {{/each}}
  </ul>
</div>



<!-- Handlebars.registerHelper('answersType', function(type, index) {
  return 
}); -->